# .gitignore

Cartilha Trade de CriptoMoedas - Python e Binance API.pdf
gabarito.py
O início de algo grande.png
secrets.py
__pycache__/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/gitignore